body {
  text-align: center;
  min-height: 100vh;
  font-size: 2rem;
}
p {
  margin: .4rem;
  letter-spacing: .4rem;
}
.title {
  font-weight: 800;
}
.letter-blur {
  -webkit-filter: blur(0.5rem);
  filter: blur(0.5rem);
}
.hide-for-trans {
  opacity: 0;
}
